/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: myFont;
    src: url("./Arvo\ Bold.ttf");
}

body{
    font-family: myFont;
    font-size: smaller;
}